.table-track-col {
  display: var(--track-selected);
}

.table-category-col {
  display: var(--category-selected) !important;
}

.table-s1,
.table-s1.radio-button-row,
.table-s3 {
  display: none;
}

@media (max-width: 640px) {
  .table-b2 {
    display: none;
  }
}

@media (max-width: 530px) {
  .table-s1 {
    display: table-cell;
  }
  .table-s1.radio-button-row {
    display: flex;
  }
  .table-b1 {
    display: none;
  }
  
  .table-track-col {
    display: var(--track-selected);
  }

  .standards-table.course tbody tr:nth-child(2n) {
    display: none;
  }

  .standards-table.lap tbody tr:nth-child(2n + 1) {
    display: none;
  }
}

@media (max-width: 440px) {
  .table-b3 {
    display: none;
  }
  .table-s3 {
    display: inline;
  }
}
