.rainbow-slider {
  height: 4px;
}

.rainbow-slider > .MuiSlider-rail {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
  color: "none";
}

.color-slider {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 500px) {
  .color-slider {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }
}
