.cups-list {
  display: grid;
  margin-bottom: 16px;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, max(280px, 100%/5)), 1fr)) /* Don't ask me how or why this works */;
}

.module .cups-list {
  margin: 0;
}

.cups-list > .module {
  overflow: hidden;
  margin: 0;
}

.cups-list-cup {
  background-image: var(--cup-image);
  background-repeat: no-repeat;
  background-position: calc(100% + 32px) 50%;
}
