.cups-list {
  display: grid;
  margin-bottom: 16px;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, max(280px, 100%/5)), 1fr)) /* Don't ask me how or why this works */;
}

.module .cups-list {
  margin: 0;
}

.cups-list > .module {
  overflow: hidden;
  margin: 0;
}

.cups-list-cup {
  overflow: hidden;
  position: relative;
}

.cups-list-cup-image-div {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70%;
  height: 165px;
  width: 165px;
  border: 2px var(--module-border-color) dotted;
  border-radius: 50%;
}

.cups-list-cup-image {
  height: 100%;
  aspect-ratio: 1/1;
}
