.cups-list {
  display: grid;
  margin-bottom: 16px;
  gap: 16px;
  /* Don't ask me how or why this works */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, max(280px, 100%/5)), 1fr));
}

.module .cups-list {
  margin: 0;
}

.cups-list > .module {
  overflow: hidden;
  margin: 0;
}

.cups-list-cup {
  overflow: hidden;
  position: relative;
}

.cups-list-cup-image-div {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70%;
  height: 165px;
  width: 165px;
  border: 2px var(--module-border-color) dotted;
  border-radius: 50%;
}

.cups-list-cup-image {
  height: 100%;
  aspect-ratio: 1/1;
}

.cups-list-no-tracks {
  max-width: 930px;
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(0, min(100%, max(116px, 100%/8))));
}

.cups-list-no-tracks-cup {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  user-select: none;
  margin: 0 8px 16px 8px;
}

.cups-list-no-tracks-cup.selected {
  background: var(--module-border-color);
}

.cups-list-no-tracks-cup > div {
  width: 100%;
  height: 100%;
  text-align: center;
}
.cups-list-no-tracks-cup > div > * {
  display: block;
  width: 100%;
  height: 100%;
}

.cups-list-no-tracks-cup > div img {
  aspect-ratio: 1/1;
  height: 100%;
}
