.flag-icon {
  display: inline-block;
  width: 24px;
  height: 18px;
  aspect-ratio: 4/3;
  margin-right: 6px;
}

.flag-icon svg,
.flag-icon img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.MuiChip-root > .flag-icon {
  margin: 0 0 0 6px;
}
