.form-fields {
  margin-bottom: 28px;
}

.form-success {
  margin-bottom: 12px;
  font-size: 0.9rem;
  color: green;
}

.field {
  margin-bottom: 16px;
}

.field-error {
  font-size: 0.75rem;
  color: red;
}

.form-buttons {
  display: flex;
  gap: 4px;
}
