.page-number-button {
  padding: 3px;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  border: solid var(--module-border-color);
  border-width: 0 1px 0 0;
}

input.page-number-button {
  max-width: 70px;
  border: none;
  display: inline;
  background-color: var(--module-background-color);
}

.page-number-button:last-child {
  border-right: 0;
}

.page-number-button.active {
  border: 0;
  background-color: var(--module-border-color);
}

.pagination-button-row {
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 27px;
  font-size: 0.9em;
  max-width: 350px;
}
