.recent-times-table .s1 {
  display: none;
}
.recent-times-table .s3 {
  display: none;
}

.recent-times-input {
  margin: 0;
}

@container (max-width: 800px) {
  .recent-times-table .s1 {
    display: table-cell;
  }
  .recent-times-table span.s1 {
    display: inline;
  }
  .recent-times-table .b1 {
    display: none;
  }
}

@container (max-width: 700px) {
  .recent-times-table .b2 {
    display: none;
  }
}

@container (max-width: 600px) {
  .recent-times-table .s3 {
    display: table-cell;
  }
  .recent-times-table .b3 {
    display: none;
  }
}

@container (max-width: 460px) {
  .recent-times-table .b4 {
    display: none;
  }
}
