.hide-region-row {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.show-region-row {
  max-height: 100px;
  overflow: auto hidden;
  transition: all 0.5s;
}

@supports (calc-size(auto)) {
  .hide-region-row {
    height: 0;
    max-height: initial;
  }

  .show-region-row {
    height: calc-size(auto);
    max-height: initial;
  }
}

.selected-region,
.region-selection-button:hover {
  background-color: var(--navbar-background-color-hover);
}

.flag-only .hide-for-flag {
  display: none;
}

.show-for-flag {
  display: none;
}

.flag-only .show-for-flag {
  display: inline;
}

.region-selection-button span:first-child {
  margin: 0 5px 0 0;
}

.region-selection-button .flag-icon {
  margin: 0;
}

.region-selection-button,
.region-selection-button .module-content {
  height: 50px;
}

.region-selection-button .module-content {
  padding: 0.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media (prefers-reduced-motion: reduce) {
  .show-region-row,
  .hide-region-row {
    transition: none;
  }
}
