.hide-region-row {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.show-region-row {
  max-height: 100px;
  overflow: hidden;
  transition: all 0.5s;
}

@supports (calc-size(auto)) {
  .hide-region-row {
    height: 0;
    max-height: initial;
  }

  .show-region-row {
    height: calc-size(auto);
    max-height: initial;
  }
}

.selected-region,
.region-selection-button:hover {
  background-color: var(--navbar-background-color-hover);
}

.region-selection-button,
.region-selection-button .module-content {
  height: 50px;
}

.region-selection-button svg {
  height: 100%;
}

.region-selection-button .module-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-reduced-motion: reduce) {
  .show-region-row,
  .hide-region-row {
    transition: none;
  }
}
