.content {
  padding-top: calc(var(--header-height) + 20px);
  padding-left: calc(var(--navbar-width) + 20px);
  padding-bottom: 20px;
  padding-right: 20px;
}

.module {
  width: 100%;
  background-color: var(--module-background-color);
  border: 1px solid var(--module-border-color);
  margin-bottom: 16px;
}

.module-content {
  padding: 12px;
}

.module-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  padding: 6px 12px;
  border: 1px solid var(--module-border-color);
}

.icon-cell {
  width: 16px;
  padding: 0 2px;
}

.icon-cell:last-child {
  padding-right: 6px;
}

.fallthrough,
.fallthrough a {
  font-style: italic;
  color: var(--alt-text-color);
}

.highlighted td:not([rowspan="2"]) {
  background-color: var(--module-background-color-focus);
}

.highlighted td:first-child,
.highlighted td[rowspan="2"] + td {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.highlighted td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.filter-select {
  color: #fff;
}

.nobr {
  white-space: nowrap;
}

.table-hover-rows tr:hover td:not([rowspan="2"]) {
  background-color: var(--header-background-color);
}

.table-hover-rows tr:hover td:not([rowspan="2"]),
.table-hover-rows tr:has(td[rowspan="2"]:hover) + tr,
.table-hover-rows td[rowspan="2"]:hover {
  background-color: var(--header-background-color);
}
