@import-sanitize;

/* Variables */

:root,
.overwrite-color {
  --site-hue: 216;
  --saturation-shift: 0;
  --luminosity-shift: 0;
  /* General */
  --background-color: hsl(
    from #141f2f var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --text-color: hsl(
    from #d8f0f9 var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --alt-text-color: hsl(
    from #90b0bc var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  /* Header */
  --header-height: 76px;
  --header-background-color: hsl(
    from #22354c var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --header-border-color: hsl(
    from #304050 var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  /* Navbar */
  --navbar-width: 200px;
  --navbar-background-color: hsl(
    from #1c2c3f var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --navbar-background-color-hover: hsl(
    from #28405d var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --navbar-border-color: hsl(
    from #283848 var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --navbar-text-color: hsl(
    from #c0d8df var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  /* Modules */
  --module-background-color: var(--navbar-background-color);
  --module-background-color-alt: var(--navbar-background-color-hover);
  --module-background-color-focus: hsl(
    from #1a3c65 var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --module-border-color: hsl(
    from #304868 var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  /* Inputs */
  --input-background-color: hsl(
    from #2c405f var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --input-background-color-hover: hsl(
    from #364c6d var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --input-background-color-disabled: hsl(
    from #47566d var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --input-background-color-disabled-hover: hsl(
    from #526179 var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  --input-border-color: hsl(
    from #405463 var(--site-hue) calc(s + var(--saturation-shift)) calc(l + var(--luminosity-shift))
  );
  /* Other */
  --tooltip-background-color: rgba(0, 0, 0, 0.9);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  cursor: auto;
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol {
  padding-left: min(5%, 40px);
}

h1 {
  font-size: 1.65rem;
  padding-bottom: 12px;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 6px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--alt-text-color);
}

table {
  width: 100%;
}

thead,
tfoot {
  background-color: var(--module-background-color-alt);
}

td,
th {
  text-align: left;
  padding: 4px 16px;
  font-size: 0.925rem;
}

.nbsp td,
.nbsp th {
  white-space: nowrap;
}

th {
  height: 36px;
}

td {
  height: 28px;
}

ul {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px 12px;
}

button,
input[type="submit"],
.submit-style {
  appearance: none;
  background-color: var(--input-background-color);
  color: var(--text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 4px 36px;
  font: inherit;
  cursor: pointer;
}

input {
  appearance: none;
  background-color: var(--input-background-color);
  color: var(--text-color);
  border: none;
  padding: 2px 4px;
  font: inherit;
}

button:hover,
input:hover,
.submit-style:hover,
input[type="submit"]:hover {
  background-color: var(--input-background-color-hover);
}

input:disabled,
select:disabled {
  background-color: var(--input-background-color-disabled);
  opacity: 1;
}

input:disabled:hover,
select:disabled:hover {
  background-color: var(--input-background-color-disabled-hover);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  align-self: center;
  border: var(--input-border-color) 1px solid;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: var(--input-selected);
}
