@import-sanitize;

/* Variables */

:root,
.overwrite-color {
  --site-hue: 216;
  /* General */
  --background-color: hsl(var(--site-hue), 40%, 13%);
  --text-color: hsl(var(--site-hue), 73%, 91%);
  --alt-text-color: hsl(var(--site-hue), 25%, 65%);
  /* Header */
  --header-height: 76px;
  --header-background-color: hsl(var(--site-hue), 38%, 22%);
  --header-border-color: hsl(var(--site-hue), 25%, 25%);
  /* Navbar */
  --navbar-width: 200px;
  --navbar-background-color: hsl(var(--site-hue), 38%, 18%);
  --navbar-background-color-hover: hsl(var(--site-hue), 40%, 26%);
  --navbar-border-color: hsl(var(--site-hue), 29%, 22%);
  --navbar-text-color: hsl(var(--site-hue), 33%, 81%);
  /* Modules */
  --module-background-color: var(--navbar-background-color);
  --module-background-color-alt: var(--navbar-background-color-hover);
  --module-background-color-focus: hsl(var(--site-hue), 59%, 25%);
  --module-border-color: hsl(var(--site-hue), 37%, 30%);
  /* Inputs */
  --input-background-color: hsl(var(--site-hue), 37%, 27%);
  --input-background-color-hover: hsl(var(--site-hue), 34%, 32%);
  --input-background-color-disabled: hsl(var(--site-hue), 21%, 35%);
  --input-background-color-disabled-hover: hsl(var(--site-hue), 19%, 40%);
  --input-border-color: hsl(var(--site-hue), 21%, 32%);
  --input-selected: hsl(var(--site-hue), 100%, 57%);
  /* Other */
  --tooltip-background-color: rgba(0, 0, 0, 0.9);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  cursor: auto;
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 1.65rem;
  padding-bottom: 12px;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 6px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--alt-text-color);
}

table {
  width: 100%;
}

thead,
tfoot {
  background-color: var(--module-background-color-alt);
}

td,
th {
  text-align: left;
  padding: 4px 16px;
  font-size: 0.925rem;
}

th {
  height: 36px;
}

td {
  height: 28px;
}

ul {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px 12px;
}

button,
input[type="submit"],
.submit-style {
  appearance: none;
  background-color: var(--input-background-color);
  color: var(--text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 4px 36px;
  font: inherit;
  cursor: pointer;
}

input {
  appearance: none;
  background-color: var(--input-background-color);
  color: var(--text-color);
  border: none;
  padding: 2px 4px;
  font: inherit;
}

button:hover,
input:hover,
.submit-style:hover,
input[type="submit"]:hover {
  background-color: var(--input-background-color-hover);
}

input:disabled,
select:disabled {
  background-color: var(--input-background-color-disabled);
  opacity: 1;
}

input:disabled:hover,
select:disabled:hover {
  background-color: var(--input-background-color-disabled-hover);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  align-self: center;
  border: var(--input-border-color) 1px solid;
}
input[type="checkbox"]:checked {
  background-color: var(--input-selected);
}
