.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vw;
  height: var(--header-height);
  position: fixed;
  z-index: 100;
  padding: 0 12px;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
  box-shadow: 0 3px 12px 0 #000;
}

.logo-div {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 65px;
  height: var(--header-height);
}

.logo-div > a {
  width: auto;
  height: var(--header-height);
  min-width: 50px;
}

.logo {
  height: var(--header-height);
  user-select: none;
  object-fit: scale-down;
  display: none;
}

@media (max-width: 300px) {
  .logo-div > a {
    display: none;
  }

  .logo-div {
    min-width: 45px;
    margin-right: 15px;
  }
}

.logo:nth-child(1) {
  padding: 5px;
}

@media (min-width: 300px) {
  .logo:nth-child(1) {
    display: inline-block;
  }
}

.account-actions {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 24px;
  max-width: 20vw;
  min-width: 350px;
  white-space: nowrap;
}

.account-actions a {
  padding: 10px;
}

.account-actions :not(.small-hide) {
  display: none;
}

.hamburger {
  margin-right: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.hamburger:hover * {
  color: var(--alt-text-color);
}

@media (max-width: 580px) {
  .account-actions .small-hide {
    display: none;
  }
  .account-actions :not(.small-hide) {
    display: initial;
  }
  .account-actions {
    min-width: 100px;
  }
}

.header .obscured-module.module {
  height: auto !important;
}

.header .obscured-module.module .obscured-module-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.header .obscured-module.module .obscured-module-body a {
  padding: 10px;
}
