.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: var(--header-height);
  position: fixed;
  z-index: 100;
  padding: 12px;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
  box-shadow: 0 3px 12px 0 #000;
}

.logo-div {
  max-width: 20vw;
  min-width: 210px;
}

.logo {
  width: auto;
  height: 100%;
  user-select: none;
}

.account-actions {
  display: flex;
  align-items: center;
  padding-right: 24px;
  gap: 40px;
}

.account-actions button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
}

.account-actions button:hover {
  color: var(--alt-text-color);
}

.hamburger {
  padding-right: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.hamburger:hover * {
  color: var(--alt-text-color);
}
