.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vw;
  height: var(--header-height);
  position: fixed;
  z-index: 100;
  padding: 0 12px;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
  box-shadow: 0 3px 12px 0 #000;
}

.logo-div {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 65px;
  height: var(--header-height);
}

.logo-div > a {
  width: auto;
  height: var(--header-height);
  min-width: 50px;
}

.logo {
  height: var(--header-height);
  user-select: none;
  object-fit: scale-down;
  display: none;
}

@media (max-width: 300px) {
  .logo-div > a {
    display: none;
  }

  .logo-div {
    min-width: 45px;
    margin-right: 15px;
  }
}

.logo:nth-child(1) {
  padding: 5px;
}

@media (min-width: 300px) {
  .logo:nth-child(1) {
    display: inline-block;
  }
}

@media (min-width: 700px) {
  .logo:nth-child(1) {
    display: none;
  }
  .logo:nth-child(2) {
    display: inline-block;
  }
}

@media (min-width: 743px) {
  .logo:nth-child(2) {
    display: none;
  }
  .logo:nth-child(3) {
    display: inline-block;
  }
}

@media (min-width: 786px) {
  .logo:nth-child(3) {
    display: none;
  }
  .logo:nth-child(4) {
    display: inline-block;
  }
}

@media (min-width: 829px) {
  .logo:nth-child(4) {
    display: none;
  }
  .logo:nth-child(5) {
    display: inline-block;
  }
}

@media (min-width: 872px) {
  .logo:nth-child(5) {
    display: none;
  }
  .logo:nth-child(6) {
    display: inline-block;
  }
}

@media (min-width: 915px) {
  .logo:nth-child(6) {
    display: none;
  }
  .logo:nth-child(7) {
    display: inline-block;
  }
}

@media (min-width: 958px) {
  .logo:nth-child(7) {
    display: none;
  }
  .logo:nth-child(8) {
    display: inline-block;
  }
}

@media (min-width: 1087px) {
  .logo:nth-child(8) {
    display: none;
  }
  .logo:nth-child(9) {
    display: inline-block;
  }
}

@media (min-width: 1130px) {
  .logo:nth-child(9) {
    display: none;
  }
  .logo:nth-child(10) {
    display: inline-block;
  }
}

@media (min-width: 1173px) {
  .logo:nth-child(10) {
    display: none;
  }
  .logo:nth-child(11) {
    display: inline-block;
  }
}

@media (min-width: 1216px) {
  .logo:nth-child(11) {
    display: none;
  }
  .logo:nth-child(12) {
    display: inline-block;
  }
}

@media (min-width: 1259px) {
  .logo:nth-child(12) {
    display: none;
  }
  .logo:nth-child(13) {
    display: inline-block;
  }
}

@media (min-width: 1302px) {
  .logo:nth-child(13) {
    display: none;
  }
  .logo:nth-child(14) {
    display: inline-block;
  }
}

@media (min-width: 1345px) {
  .logo:nth-child(14) {
    display: none;
  }
  .logo:nth-child(15) {
    display: inline-block;
  }
}

@media (min-width: 1388px) {
  .logo:nth-child(15) {
    display: none;
  }
  .logo:nth-child(16) {
    display: inline-block;
  }
}

@media (min-width: 1431px) {
  .logo:nth-child(16) {
    display: none;
  }
  .logo:nth-child(17) {
    display: inline-block;
  }
}

@media (min-width: 1474px) {
  .logo:nth-child(17) {
    display: none;
  }
  .logo:nth-child(18) {
    display: inline-block;
  }
}

@media (min-width: 1517px) {
  .logo:nth-child(18) {
    display: none;
  }
  .logo:nth-child(19) {
    display: inline-block;
  }
}

@media (min-width: 1560px) {
  .logo:nth-child(19) {
    display: none;
  }
  .logo:nth-child(20) {
    display: inline-block;
  }
}

@media (min-width: 1603px) {
  .logo:nth-child(20) {
    display: none;
  }
  .logo:nth-child(21) {
    display: inline-block;
  }
}

@media (min-width: 1646px) {
  .logo:nth-child(21) {
    display: none;
  }
  .logo:nth-child(22) {
    display: inline-block;
  }
}

@media (min-width: 1689px) {
  .logo:nth-child(22) {
    display: none;
  }
  .logo:nth-child(23) {
    display: inline-block;
  }
}

@media (min-width: 1732px) {
  .logo:nth-child(23) {
    display: none;
  }
  .logo:nth-child(24) {
    display: inline-block;
  }
}

@media (min-width: 1752px) {
  .logo:nth-child(24) {
    display: none;
  }
  .logo:nth-child(25) {
    display: inline-block;
  }
}

@media (min-width: 1775px) {
  .logo:nth-child(25) {
    display: none;
  }
  .logo:nth-child(26) {
    display: inline-block;
  }
}

@media (min-width: 1818px) {
  .logo:nth-child(26) {
    display: none;
  }
  .logo:nth-child(27) {
    display: inline-block;
  }
}

@media (min-width: 1861px) {
  .logo:nth-child(27) {
    display: none;
  }
  .logo:nth-child(28) {
    display: inline-block;
  }
}

@media (min-width: 1904px) {
  .logo:nth-child(28) {
    display: none;
  }
  .logo:nth-child(29) {
    display: inline-block;
  }
}

@media (min-width: 1947px) {
  .logo:nth-child(29) {
    display: none;
  }
  .logo:nth-child(30) {
    display: inline-block;
  }
}

@media (min-width: 1990px) {
  .logo:nth-child(30) {
    display: none;
  }
  .logo:nth-child(31) {
    display: inline-block;
  }
}

@media (min-width: 2033px) {
  .logo:nth-child(31) {
    display: none;
  }
  .logo:nth-child(32) {
    display: inline-block;
  }
}

@media (min-width: 2076px) {
  .logo:nth-child(32) {
    display: none;
  }
  .logo:nth-child(33) {
    display: inline-block;
  }
}

.account-actions {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 24px;
  max-width: 20vw;
  min-width: 350px;
  white-space: nowrap;
}

.account-actions a {
  padding: 10px;
}

.account-actions :not(.small-hide) {
  display: none;
}

.hamburger {
  margin-right: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.hamburger:hover * {
  color: var(--alt-text-color);
}

@media (max-width: 580px) {
  .account-actions .small-hide {
    display: none;
  }
  .account-actions :not(.small-hide) {
    display: initial;
  }
  .account-actions {
    min-width: 100px;
  }
}

.header .obscured-module.module {
  height: auto !important;
}

.header .obscured-module.module .obscured-module-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.header .obscured-module.module .obscured-module-body a {
  padding: 10px;
}
